<!-- START CARAOUSLE -->
<header class="header-carousel h-50">
    <div id="headerCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="4500"
        data-bs-pause="false" data-bs-touch="true">
        <ol class="carousel-indicators">
            <li data-bs-target="#headerCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#headerCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#headerCarousel" data-bs-slide-to="2"></li>
            <li data-bs-target="#headerCarousel" data-bs-slide-to="3"></li>
            <li data-bs-target="#headerCarousel" data-bs-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active carouselImage" data-bs-interval=""
                style="background-image: url(images/carousel/slide-1.jpg)">
                {{!-- <img src="images/header-carousel/slide-1.jpeg" class="d-block  w-100" alt="..."> --}}

            </div>
            <div class="carousel-item carouselImage" data-bs-interval=""
                style="background-image: url(images/carousel/slide-2.jpg)">

            </div>
            <div class="carousel-item carouselImage" data-bs-interval=""
                style="background-image: url(images/carousel/slide-3.jpg)">

            </div>
            <div class="carousel-item carouselImage" data-bs-interval=""
                style="background-image: url(images/carousel/slide-4.jpg)">

            </div>
            <div class="carousel-item carouselImage" data-bs-interval=""
                style="background-image: url(images/carousel/slide-5.jpg)">

            </div>
        </div>

    </div>


    </div>

</header>