<section class="project-area bg-gray">
    <div class="container pt-5">
        <div class="project-title pt-5 pb-5">
            <h2 class="text-uppercase text-center title-h1">Recently Done Project</h2>
            <p class="text-uppercase text-center title-h1">Quality Work</p>
        </div>

        <div class="button-group my-5 text-center">
            <button type="button" class="active" id="btn1" data-filter="*">All</button>
            <button type="button" data-filter=".glass-design">Glass Design</button>

            <button type="button" data-filter=".door">Doors</button>
            <button type="button" data-filter=".office-design">OFFICE DESIGN</button>
            <button type="button" data-filter=".home-design">HOME DESIGN</button>
        </div>

        <div class="row grid">

            <div class="col-lg-4 col-md-6 col-sm-12 element-item home-design door">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/door-1.jpeg">
                            <img src="./images/door-1.jpeg" alt="door-1" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Together sign</h4>
                        <span class="text-secondary">door,Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item door  glass-design home-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/door-2.jpeg">
                            <img src="./images/modern-aluminum-door-500x500.jpg" alt="door-2" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Minimul Desing</h4>
                        <span class="text-secondary">home-design, Portfolio</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-12 element-item  home-design door">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/door-3.jpeg">
                            <img src="./images/door-3.jpeg" alt="door-3" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Fly Male</h4>
                        <span class="text-secondary">door, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item glass-design home-design door">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/door-4.jpeg">
                            <img src="./images/door-4.jpeg" alt="door-4" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Fly Male</h4>
                        <span class="text-secondary">door, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item home-design door">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/door-5.jpeg">
                            <img src="./images/door-5.jpeg" alt="door-5" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Fly Male</h4>
                        <span class="text-secondary">door, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item door">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/door-6.jpeg">
                            <img src="./images/door-6.jpeg" alt="door-6" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Green Heaven</h4>
                        <span class="text-secondary">door, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item door glass-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/door-7.jpeg">
                            <img src="./images/door-7.jpeg" alt="door-7" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Female light</h4>
                        <span class="text-secondary">glass-design, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item door glass-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/door-8.jpeg">
                            <img src="./images/door-8.jpeg" alt="door-8" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Female light</h4>
                        <span class="text-secondary">glass-design, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item door glass-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/door-9.jpeg">
                            <img src="./images/door-9.jpeg" alt="door-9" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Paint Wall</h4>
                        <span class="text-secondary">glass-design, Portfolio</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-12 element-item home-design office-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/roof-1.jpeg">
                            <img src="./images/roof-1.jpeg" alt="roof-1" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Fourth Air</h4>
                        <span class="text-secondary">office-design, Portfolio</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-12 element-item office-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/table-1.jpeg">
                            <img src="./images/table-1.jpeg" alt="table-1" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Table</h4>
                        <span class="text-secondary">office-design, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item office-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/table-2.jpeg">
                            <img src="./images/table-2.jpeg" alt="table-2" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Camera Lens</h4>
                        <span class="text-secondary">office-design, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item office-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/table-3.jpeg">
                            <img src="./images/table-3.jpeg" alt="table-3" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Camera Lens</h4>
                        <span class="text-secondary">office-design, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item office-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/table-4.jpeg">
                            <img src="./images/table-4.jpeg" alt="table-4" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Camera Lens</h4>
                        <span class="text-secondary">office-design, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item office-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/table-5.jpeg">
                            <img src="./images/table-5.jpeg" alt="table-5" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Camera Lens</h4>
                        <span class="text-secondary">office-design, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item office-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/table-6.jpeg">
                            <img src="./images/table-6.jpeg" alt="table-6" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Camera Lens</h4>
                        <span class="text-secondary">office-design, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item office-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/table-7.jpeg">
                            <img src="./images/table-7.jpeg" alt="table-7" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Table Lens</h4>
                        <span class="text-secondary">office-design, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item office-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/table-8.jpeg">
                            <img src="./images/table-8.jpeg" alt="table-8" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Table Lens</h4>
                        <span class="text-secondary">office-design, Portfolio</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 element-item glass-design home-design  office-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/window-1.jpeg">
                            <img src="./images/window-1.jpeg" alt="window-1" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Muliple fown</h4>
                        <span class="text-secondary">office-design, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item glass-design home-design office-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/window-2.jpeg">
                            <img src="./images/window-2.jpeg" alt="window-2" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Muliple fown</h4>
                        <span class="text-secondary">office-design, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item office-design">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="./images/window-3.jpeg">
                            <img src="./images/window-3.jpeg" alt="window-3" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Muliple fown</h4>
                        <span class="text-secondary">office-design, Portfolio</span>
                    </div>
                </div>
            </div>




        </div>
    </div>
</section>