<section class="services bg-first " id="services">
    <div class="container py-2">

        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>
                        Facilities
                    </h2>
                    <p class="">We provide the perfect service for you.</p>
                    <p class="text-justify">Stupa Biomedical Research Institute Bhopal, Madhya Pradesh addresses
                        research-to-practice gap in
                        Life Sciences and Pharmaceutical Sciences. It provides the following comprehensive professional
                        e-learning and on-site services </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between mb-5 ">
            <ul class="list-group mb-5 ">
                <li class="list-group-item text">Efficient and economic antimicrobial agent screening against bacteria,
                    fungi and biofilms.</li>
                <li class="list-group-item">Test against a wide variety of standard and non-standard microbial strains
                </li>
                <li class="list-group-item">Antimicrobial testing (Disc Diffusion, Well Diffusion)</li>
                <li class="list-group-item">Formulation Development and evaluation of conventional dosage form (solids,
                    liquids and Semi-solids) </li>
                <li class="list-group-item">Nano-technology based solutions</li>
                <li class="list-group-item">Method development and method validation studies using UV</li>
                <li class="list-group-item">Extraction and identification of plant bioactive compounds</li>
                <li class="list-group-item">Qualitative study of plant bioactive compounds</li>
                <li class="list-group-item">Quantitative study of bioactive constituents</li>
                <li class="list-group-item">Isolation of compound by various techniques like TLC, column chromatography,
                    HPLC, HPTLC etc.</li>
                <li class="list-group-item">In vitro lab facilities</li>
                <li class="list-group-item">Antioxidant activity (DPPH, NO, H2O2)</li>
                <li class="list-group-item">In vitro antidiabetic activity (alpha amylase and alpha glucosidase
                    inhibition assay)</li>
                <li class="list-group-item">In vitro anti-lnflammatory activity</li>
                <li class="list-group-item">In vitro antiulcer activity</li>
                <li class="list-group-item">Molecular modelling</li>
                <li class="list-group-item">QSAR study</li>
                <li class="list-group-item">Systems biology approach for genomics, proteomics and metabolomics</li>


            </ul>
        </div>
    </div>

</section>