<footer class="footer-area ">
    <div class="container">
        <div class="row">
            <div class="site-logo text-center py-4 col-12">
                <a href="#"><img class="rounded rounded-circle" width="120px" src="./images/Logo.jpeg" alt="logo"></a>
                <address>

                </address>
            </div>
            <div class="social text-center col-12 ">
                <h5 class="text-uppercase">Follow Us</h5>
                <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://instagram.com/_jpenterprisesbhopal_?igshid=1469fa8hzp19h" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="#" target="_blank"><i class="far fa-envelope"></i></i></a>
                <a href="https://goo.gl/maps/faLJfDWsPNSKb8cL6" target="_blank"><i
                        class="fas fa-map-marker-alt"></i></i></a>
                <a href="https://api.whatsapp.com/send?phone=919098134438&amp;text=Hello, I have a question about your product"
                    target="_blank"><i class="fab fa-whatsapp"></i></a>

                <div class="col-12 col-lg-12 address">
                    <h2>Stupa</h2>
                    <h3>Bio-Medical Research Institute</h3>
                    <h6><a href="https://goo.gl/maps/faLJfDWsPNSKb8cL6" target="_blank">
                            <address><i class="fas fa-map-marker-alt"></i> Chandbad Road, Dairy Colony, Krishna
                                Campus, Bhopal, Madhya Pradesh
                                464226</address>
                        </a>
                    </h6>
                </div>
            </div>
            <div class="copyrights text-center">
                <p class="para">
                    Copyright ©2021 All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>