<section class="introduction bg-second ">
    <div class="container py-2">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading heading text-center">
                    <h2>Welcome to Stupa Biomedical Research Institute</h2>
                    <p class="text-muted ">Bhopal, Madhya Pradesh, India</p>

                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-12 col-lg-6 introduction-col-1">
                <div class="section-heading ">

                    <p class="introduction-text ">Stupa Biomedical and Research Institute Bhopal is established in 2021
                        as a research
                        institute and to carry out intermediate to advanced molecular research. It provides training and
                        assistance in laboratory-based research work to student and researcher for project and
                        dissertation. It is established under the supervision of eminent scientists in Molecular
                        biology, Nanotechnology, Chemistry, Physics, Life Sciences, Protein biochemistry and Systems
                        Biology from premier institutes like IISER, AIIMS, DIAT and NML. </p>

                </div>
            </div>


            <div class="col-12 col-lg-6 introduction-col-2">
                <div class="section-heading ">

                    <p class=" introduction-text">Stupa Biomedical Research Institute Bhopal is equipped with state of
                        art research
                        facility with equipment for life science and pharmaceutical sciences. It is a well-established
                        training institute at prime location of City. It provides scientific expertise with top class
                        technologies reinforced by commitment for quality delivery. </p>

                </div>
            </div>
        </div>


    </div>

</section>