<section class="services bg-first " id="services">
    <div class="container py-2">

        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2> OUR SERVICES</h2>
                    <p class="">We provide the perfect service for you.</p>
                    <p class="text-justify">Stupa Biomedical Research Institute Bhopal, Madhya Pradesh addresses
                        research-to-practice gap in
                        Life Sciences and Pharmaceutical Sciences. It provides the following comprehensive professional
                        e-learning and on-site services </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between  ">
            <div class="col-12 col-lg-6 d-flex align-items-center">
                <div class="svg-div bg-second rounded-3">
                    <img src="images/doctor-svg.svg" class="service-img border-start rounded-3" alt="">

                </div>
            </div>
            <div class="col-12 col-lg-5 pb-5">
                <div class="service-area mb-100">

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms"
                        style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                        <!-- Icon -->
                        <div class="service-icon mr-30">

                            <i class="fas fa-flask icon-size"></i>
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Laboratory Facility</h5>
                            <p>Laboratory facility and assistance in research work associated with dissertation work
                                with unique
                                and innovative topic to UG and PG students in Life Sciences and Pharmaceutical Sciences
                            </p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center "
                        style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <i class="fas fa-wine-glass-alt icon-size" style="font-size: 80px;"></i>
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Contract/ consultancy-based research support</h5>
                            <p>Contract/consultancy-based research support to PG and PhD student for dissertation with
                                multi-disciplinary approach</p>
                            <p>Contract/ consultancy-based research support to researcher for publications</p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms"
                        style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <i class="fas fa-tools icon-size"></i>
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Full time assistance</h5>
                            <p>Full time assistance and support in design of research work, experimentation and writing
                            </p>
                        </div>
                    </div>



                </div>
            </div>


        </div>
        <div class="row justify-content-between pb-5">


            <div class="col-12 col-lg-5">
                <div class="service-area mb-100">


                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms"
                        style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">
                        <!-- Icon -->
                        <div class="service-icon mr-30">

                            <i class="fas fa-tools icon-size"></i>
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Industry based training</h5>
                            <p>Industry based short-term training to the students and researchers in various areas
                                including Life Science and Pharmaceutical Sciences
                            </p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms"
                        style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <i class="fas fa-graduation-cap icon-size"></i>
                            {{!-- <i class="fas fa-tools icon-size"></i> --}}
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Short-term Certificates</h5>
                            <p>Short-term Certificate courses in public health, clinical research courses, software
                                training, system biology etc. to pharma and life sciences students
                            </p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms"
                        style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <i class="fas fa-tools icon-size"></i>
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Job Consultantion</h5>
                            <p>We provide job consultation in the fields of life sciences, pharmacy and medical domains
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-6 d-flex align-items-center">
                <div class="svg-div bg-second  rounded-3">

                    <img src="images/services.svg" class="service-img border-start rounded-3" alt="">

                </div>
            </div>
        </div>
    </div>

</section>