<section class=" container py-5">
    <div class="py-5">
        <div class="row ">



            <div class="col-12  ">
                <div class=" ">
                    <h2 class="heading text-center"> Team </h2>
                    <p class="introduction-text text-justify ">Stupa Biomedical Research Institute, Bhopal, Madhya
                        Pradesh is
                        established under a team of experience researchers and scientists. Stupa Biomedical and
                        Research
                        Institute, Bhopal, Madhya Pradesh is also associated with several experienced researcher and
                        academician in India and abroad


                    </p>

                </div>


            </div>


        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6 col-12  ">
                <div class="single-team-member">
                    <div class=""><img src="./images/doctor-svg.svg" class="team-member-img" alt="Dr. Shweta Kumar">
                    </div>
                    <h3><a href="">Dr. Shweta Kumar </a></h3>
                    <p><a href="" class="team-member-title"> Founder</a></p>
                    <p class="text">Scientist C <br>All India Institute of Medical Sciences ,Bhopal
                        <br>Madhya Pradesh,
                        India
                    </p>


                    <a href="" class="default-btn"><i class="flaticon-right">&RightArrow; </i>connect
                        <span></span></a>

                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 ">
                <div class="single-team-member">
                    <div class=""><img src="./images/doctor-svg.svg" class="team-member-img" alt="Dr. Shweta Kumar">
                    </div>
                    <h3><a href="">Mr. Puneet Kumar </a></h3>
                    <p><a href=""> Co-Founder</a></p>
                    <p class="text">Entrepreneur <br>Kumar Brothers, Bhopal
                        <br>Madhya Pradesh,
                        India
                    </p>


                    <a href="" class="default-btn"><i class="flaticon-right">&RightArrow; </i>connect
                        <span></span></a>

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <div class="single-team-member">
                    <div class=""><img src="./images/female-avatar.svg" class="team-member-img" alt="Dr. Shweta Kumar">
                    </div>
                    <h3><a href="">Dr. Hema Singh </a></h3>
                    <p class="text">Research Scientist <br>Defence Institute of Advanced Technology <br>Government
                        of India
                        <br>Pune,
                        India
                    </p>


                    <a href="" class="default-btn"><i class="flaticon-right">&RightArrow; </i>connect
                        <span></span></a>

                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 col-sm-6 ">
                <div class="single-team-member">
                    <div class=""><img src="./images/male-avatar.svg" class="team-member-img" alt="Dr. Shweta Kumar">
                    </div>
                    <h3><a href="">Dr. Satish Ogle </a></h3>
                    <p class="text">Emeritus Professor <br>IISER
                        <br>Pune,
                        India
                    </p>


                    <a href="" class="default-btn"><i class="flaticon-right">&RightArrow; </i>connect
                        <span></span></a>

                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 col-sm-6 ">
                <div class="single-team-member">
                    <div class=""><img src="./images/male-avatar.svg" class="team-member-img" alt="Dr. Shweta Kumar">
                    </div>
                    <h3><a href="">Dr. Inder Singh </a></h3>
                    <p class="text">Ex Deputy Director <br>National Metallurgical Lab
                        <br>Jamshedpur,
                        India
                    </p>


                    <a href="" class="default-btn"><i class="flaticon-right">&RightArrow; </i>connect
                        <span></span></a>

                </div>
            </div>
        </div>
    </div>
</section>