<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research Institute | Home</title>

    <!-- Fevicon Icon-->
    <link rel="shortcut icon" href="images/Logo.jpeg" type="image/x-icon">

    <!-- Bootstrap CDN CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <!--  Magnific Popup css file  -->
    <link rel="stylesheet" href="./vendor/Magnific-Popup/dist/magnific-popup.css">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/global.css">
</head>

<body>
    <!-- --------------START HEADER SECTION---------- -->
    {{>navBar}}
    <div>
        {{>carousel}}
    </div>
    <!-- --------------END HEADER SECTION---------- -->

    {{>homeIntroduction}}
    <!-- --------------START OUR SERVICES SECTION---------- -->
    {{>services}}
    <!-- --------------END OUR SERVICES SECTION---------- -->
    {{>vision}}


    {{>team}}
    <!-- --------------   START GET IN TOUCH SECTION ---------- -->
    {{>getInTouch}}
    <!-- --------------    END GET IN TOUCH SECTION ---------- -->




    <!-- --------------    START FOOTER SECTION ---------- -->

    {{>footer}}
    <!-- --------------   END FOOTER SECTION ---------- -->



    {{!-- widgets --}}
    {{>widgets}}

    {{>footerlinks}}


</body>

</html>